@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
    /* padding-bottom: 200px; */
}

main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: row;
}

.drawer-img {
    height: 300px;
    vertical-align: top;
    width: 300px;
}

.right-side-container {
    padding: 45px;
    box-shadow: 2px 2px 5px rgba(172, 172, 172, 0.5);
    background-color: white;
    /* border: 1px solid black; */
}

.home-styling {
    width: 380px;
    margin-top: 0;
    letter-spacing: 1px;
    vertical-align: top;
    color: hsl(217, 19%, 35%);
    font-size: 20px;
}

.tips {
    font-size: 14px;
    color: hsl(214, 17%, 51%);
    width: 400px;
}

.user-container {
    position: relative;
    width: 380px;
}

.image-container {
    display: inline-block;
}

.avatar {
    height: 35px;
    border-radius: 25px;
}

.info {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 18px;
    margin-left: 20px;

}

.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.date {
    color: hsl(214, 17%, 51%);
    font-size: 12px;
}

.share-btn {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    background-color: hsla(217, 19%, 35%, 0.1);
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
}

.Share-btn {
    background-color: hsla(217, 19%, 35%, 0.7);
}

.share-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(500%);
}
  
.share-options-row {
    display: none;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    padding: 10px 15px;
    top: -55px;
    color: hsl(214, 17%, 51%);
    font-size: 12px;
    right: -85px;
    margin-bottom: -200px;
    letter-spacing: 5px;
    border-radius: 10px;
}

.icons {
    height: 18px;
}

.is-sharing {
    display: initial;
}

.share-options-row span {
    cursor: pointer;
}

.share-options-row span::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px; /* Adjust this value based on the desired width of the nose */
    border-width: 12px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent; /* Match the tooltip background-color */
}

.icons {
    margin-right: 10px;
    cursor: pointer;
    vertical-align: top;
}

.attribution { 
    font-size: 11px; 
    /* position: fixed; */
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 700px) {
    main {
        flex-direction: column;
        width: 450px;
        align-items: center;
        padding-top: 10px;
    }

    .drawer-img {
        width: 445px;
        height: 280px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    /* .user-container {
        display: none;
    } */

    .home-styling {
        font-size: 19px;
        letter-spacing: normal;
    }

    .right-side-container {
        padding: 30px;
        padding-left: 40px;
        width: 375px;
        padding-bottom: 15px;
    }

    .tips {
        margin-bottom: 25px;
    }

    .share-options-row {
        display: none;
    }

    .is-sharing-options {
        width: 806px;
    }
}

@media (max-width: 500px) {
    main {
        align-items: center;
        width: 420px;
        padding-top: 20px;
    }

    .drawer-img {
        width: 400px;
        height: 250px;
    }

    .home-styling {
        width: 350px;
        font-size: 17px;
    }

    .right-side-container {
        width: 340px;
        /* padding: 20px 20px; */
        padding-left: 30px;
        /* padding-left: 40px; */
    }

    .tips {
        width: 350px;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .share-btn {
        right: 40px;
    }

    .share-options-row {
        right: -50px;
    }
}

